[Desktop Entry]
Type=Application
Name=StarPusher
Comment=A Sokoban Clone By Al Sweigart
Path=/home/roland/src/python/makinggames
Exec=python3 starpusher.py
Icon=starpusher
Categories=Game;
Terminal=false
